<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Boas-vindas - TechSolutions</title>
</head>
<body>

<div class="container" style="background: #4d4c7d;

            color: #ffffff;">

    <header style=" padding: 2rem;

           text-align: center;
">
        <h1>
            TECHSOLUTIONS
        </h1>

        <div>
            <h2> SEJA BEM VINDO</h2>
        </div>

    </header>

    <main style=" display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 2rem;">
        <div style="
            text-align: center;">
            <h2>Olá, <span th:text="${fullName}">Nome Usuário</span>!</h2>

            <br>

            <p>É um prazer ter você conosco nesta nova fase da TechSolutions.</p>
            <p>Estamos modernizando nosso sistema de chamados para oferecer uma experiência mais rápida, eficiente e integrada.</p>


            <a th:href="${urlConfirmation}" rel="external" target="_blank">Clique aqui</a> para confirmar seu cadastro  e acessar todos os recursos da nova plataforma de chamados:
            <p>Caso o botão não funcione, utilize o link abaixo:</p>
            <span th:text="${urlConfirmation}">Nome Usuário</span>

        </div>

        <div  style="      text-align: center;">

            <p>Estamos empolgados com o futuro. Vamos juntos transformar o suporte técnico!</p>

            <p>
                Senha temporária para primeiro acesso:
            </p>
            <p>
                <span th:text="${senhaTemporaria}">Senha Usuário</span>
            </p>
            <p>Lembre-se de redefinir sua senha após o login para manter sua conta segura.</p>


        </div>
    </main>


        <footer style="
         background: #363062;
         padding: 1rem 0rem;

         ">
            <div style="
            text-align: center;">
                <h3>
                    TechSolutions 
                </h3>
            </div>
            <div style="
            text-align: center;">
                <p >
                    Estamos aqui para tornar sua experiência mais produtiva, transparente e conectada.
                    Com este novo sistema, você terá o suporte que precisa na palma da mão, com total controle e praticidade.

                </p>
            </div>
        </footer>



</div>

</body>
</html>